html{
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    font-family: 'Source Sans', sans-serif;
    height: 100%;
    overflow: auto;
    background-color: #cee5dd;
    background: -moz-linear-gradient( 0deg,#cee5dd,#d8ecf3);
    background: -webkit-linear-gradient( 0deg,#cee5dd,#d8ecf3);
    background: linear-gradient( 0deg,#cee5dd,#d8ecf3);
}
p, sub, dl, a, figcaption{
    font-family: 'Source Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
p, sub, dl {
    line-height: 26px;
}
header,h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 2.5em;
    text-align: center;
    text-align: -webkit-center;
}
a, a:link, a:visited, a:hover, a:active{
    color: #414141;
}
a:visited, a:hover, a:active{
    color: #000000;
}
/* header */
header{
    text-align: center;
}
.company_svg{
    max-height: 60px;
    max-width: 50%;
    width: fit-content;
    margin: 15px;
}
ul{
    margin: unset;

}
nav ul{
    font-family: 'Montserrat',sans-serif;
    background-color: #d5e9ed;
    list-style-type: none;
    margin: unset;
    padding: 0px 15px;
    justify-content: space-between;
    display: flex;
    border-radius: 7px;
    box-shadow:
        10px 10px 25px #a6c3ce,
        -15px -15px 30px #f4fcff;
}
nav li *, nav a{
    list-style: none;
    text-decoration: none;
    border: none;
    display: inline-block;
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-baseline-middle;
    text-transform: uppercase;
}
nav li{
    padding: 10px;
    height: 30px;
    cursor: pointer;
}
nav li.active{
    border-radius: 7px;
    background-color: rgba(129, 207, 184, .1);
    box-shadow:
        3px 3px 3px rgba(166, 195, 206, .7),
        4px 10px 8px 0px rgb(166, 195, 206),
        -10px -10px 15px rgba(244, 252, 255, 0.7);
}
nav li.active * {
    font-weight: 500;
}
nav li.active::after{
    height: 7px;
    width: calc(100% + 20px);
    content: '';
    transform: translate(-10px, 110%);
    background-color: #81cfb8;
    background : linear-gradient( #81cfb800, #81cfb8);
    box-sizing: inherit;
    display: grid;
    position: relative;
    border: inherit;
    border-radius: 0 0 7px 7px;
    display: grid;
}

/* content */
@media (min-width: 800px){
    .header, .content, .footer{
        margin: auto;
        width: fit-content;
    }
    .content, .footer{
        max-width: 750px;
    }
}
@media (max-width: 799px){
    .header, .content, .footer{
        max-width: 80%;
        margin-left: 10%;
    }
}
/* unorderd lists */
ul.first-list{
    list-style-type: circle;
}
ul.second-list{
    list-style-type: square;
}
.second-list a {
    /* text-decoration: none; */
    color: #242424;
}
.first-list, .second-list, ol{
    font-family: 'Source Sans', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 200;
}
/* definition list */
dl {
    display: block;
    margin:  .25em;
}
dt, dd {
    margin-top: 18px;
    margin-bottom: 18px;
}
strong {
    font-weight: 400;
}
/* buttons */
button:hover{
    /* Material-UI paper shadow: */
    box-shadow:
        0px 3px 3px -2px rgba(0,0,0,0.2),
        2px 3px 4px 1px rgba(0,0,0,0.14),
        1px 1px 8px 2px rgba(0,0,0,0.12);
    background-color: #62B7D9;
}
button:active{
    box-shadow: unset;
    border-color: #DC7A5F;
}

button.back-top{
    margin: 100px auto;
    display: block;
    height: 55px;
    padding: 10px;
    width: 300px;
    border-radius: 27px;
    border: unset;
    background-color: #049DD9;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Source Sans', sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 200;
    box-shadow:
        8px 8px 20px #8cb9af,
        -10px -10px 20px #f4fffe;
}
button.back-top:hover{
    box-shadow:
        4px 4px 20px #8cb9af,
        -5px -5px 20px #f4fffe;
    border: black solid 1px;
}
button.back-top:active{
    outline: unset;
    border-radius: 27.5px;
}

#unused{
    margin: 100px 0;
}

/* blockquote */
blockquote{
    padding: 20px 30px 40px 30px;
    background-color: rgba(129, 207, 184, 0.2);
    box-shadow:
        6px  6px 15px rgba( 76, 138, 130, 0.2),
        -7px -7px 25px rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    margin:unset;
}
/* figure with image */
figure.float-right{
    margin: 0;
    padding: 0;
    border: 2px solid #8cb9af;
    border-radius: 8px;
    background-color: white;
    text-align: center;
    text-align: -webkit-center;
    width: 50%;
}
figcaption{
    margin: 16px 8px 24px 8px;
}
figure.float-right img {
    width: 90%;
    margin: 8px;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-container{
    overflow: auto;
}
.float-container::after{
    clear: both;
}
.gallery{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin:0 10%;
    border-radius: 12px;
    box-shadow:
        6px  6px 15px rgba( 76, 138, 130, 0.2),
        -7px -7px 25px rgba(255, 255, 255, 0.5);
}
.gallery_item{
    margin: 10px;
    padding: 16px 12px 24px 12px;
    border:#ffffff solid 1px;
    border-right: #c2dbd6;
    border-bottom: #c2dbd6;
    background-color: #ffffff63;
    width: calc(25% - 25px);
    border-radius: 8px;
    height: 300px;
    text-align: center;
    min-width: fit-content;
    box-sizing: border-box;
}
img.set_height{
    height: 200px;
}

/* footer */
footer.footer{
    margin-top: 150px;
    height: 30px;
}
.gallery_item > figcaption {
    max-width: 270px;
}